<% provide(:title, 'Create custom search word puzzles with Search Word Creator') %>
<% provide(:page_type, 'home') %>
	<!-- div start center -->
	<div class="center">
		<!-- div start proms -->
		<div class="proms">
			<div class="left">
				<h2>Create Your Own<br/>Word Search Right Now!</h2>
				<p>Teachers and parents use Word Search Creator to make custom, printable puzzles for learning and playing.</p>
		
				<%= link_to "Start Making Puzzles", signup_path, class: "radius button" %>
				<p>Free Trial. 30 Day Money Back Guarantee</p>
			</div>
			<div class="right">
				<img src="assets/saas-images/screenshot.png" alt="Search Word Creator Screenshots" />
			</div>
		</div>
		<!-- div end proms -->
		<!-- div start features -->
		<div class="features">
			<ul>		
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_clock.png" alt="Save Time" />
					</div>
					<div class="content">
						<h3>Save Time</h3>
						<p>You can print search word puzzles for an entire classroom on your normal computer and printer in mere minutes. Writing cards by hand takes hours -- hours that you could better spend teaching.</p>
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_wallet.png" alt="Save Money" />
					</div>
					<div class="content">
						<h3>Save Money</h3>
						<p>Don't spend $10-$15 on buying single activities from traditional publishers! If you use word search three times or more in a year, it's much cheaper to print your own cards!</p>
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_print.png" alt="Custom Activities" />
					</div>
					<div class="content">
						<h3>Custom Activities</h3>
						<p> Play vocabulary search word from the chapter you just finished!  With Search Word Creator you can tailor your puzzles to your lesson plan. If you buy search word puzzles from publishers, you're limited to what they have in stock.</p>
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_shield.png" alt="Buy With Confidence" />
					</div>
					<div class="content">
						<h3>Buy With Confidence</h3>
						<p>You get a free trial to see if Word Search Creator is perfect for you and your lesson plans.  We offer an unconditional 30 day money-back guarantee.  If you're not happy with our software, we don't deserve your business.</p>
					</div>
				</li>	
			</ul>
		</div>
		<!-- div end features -->
		<!-- div start testimonials -->
		<div class="testimonials radius">
			<div>		
				<h3>What Teachers Are Saying</h3>
				<ul>
					<li>
						<div class="avatar"><img src="assets/saas-images/avatar.png" alt="" /></div>
						<div class="testiContent">
							<div class="radius">
								<span class="arrow"><img src="assets/saas-images/bg-arrow.png" alt="" /></span>
								<p>Word searches are useful to help students build stamina and help with learning to key in on details. I use word searches to help my students learn that you look everywhere to help find information.</p>
								<p class="a-right"><em>Rhonda, Elemetary School Teacher</em></p>
							</div>
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<!-- div end testimonials -->
		<!-- div start free trial -->
		<div class="free-trial radius">
			<h3>Free Trial</h3>
			<%= link_to "Make Puzzles Now!", signup_path, class: "radius button" %>
			<p>Takes 15 seconds</p>
		</div>
		<!-- div end free trial -->
	</div>
	<!-- div end center -->