<% provide(:page_type, 'home') %>
	<!-- div start center -->
	<div class="center">
		<!-- div start proms -->
		<div class="proms">
			<div class="left">
				<h2>Our Web App is Amazing!</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium ante vel diam imperdiet pharetra. Aenean convallis, orci ut adipiscing congue, erat sem imperdiet ipsum, quis porta mauris odio sit amet urna.</p>
		
				<a class="radius button" href="plans-pricing.html">See Plans &amp; Pricing</a>
			</div>
			<div class="right">
				<p id="prom1"><img src="assets/saas-images/screenshot.png" alt="Dashboard" /></p>
				<p id="prom2"><img src="assets/saas-images/screenshot2.png" alt="Feature 1" /></p>
				<p id="prom3"><img src="assets/saas-images/screenshot.png" alt="Feature 2" /></p>
				<p id="prom4"><img src="assets/saas-images/screenshot2.png" alt="Feature 3" /></p>
					
				<div class="controller">
					<ul>
						<li><a href="#prom1">Dashboard</a></li>
						<li><a href="#prom2">Feature 1</a></li>
						<li><a href="#prom3">Feature 2</a></li>
						<li><a href="#prom4">Feature 3</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- div end proms -->
		<!-- div start features -->
		<div class="features">
			<ul>		
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_calendar.png" alt="Feature Set 1" />
					</div>
					<div class="content">
						<h3>Feature Set 1</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum.</p>
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_basket.png" alt="Feature Set 2" />
					</div>
					<div class="content">
						<h3>Feature Set 2</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum.</p>
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_clock.png" alt="Feature Set 3" />
					</div>
					<div class="content">
						<h3>Feature Set 3</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum.</p>
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="assets/saas-images/i_buoy.png" alt="Feature Set 4" />
					</div>
					<div class="content">
						<h3>Feature Set 4</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum.</p>
					</div>
				</li>	
			</ul>
		</div>
		<!-- div end features -->
		<!-- div start testimonials -->
		<div class="testimonials radius">
			<div>		
				<h3>What Our Customers Say!</h3>
				<ul>
					<li>
						<div class="avatar"><img src="assets/saas-images/avatar.png" alt="" /></div>
						<div class="testiContent">
							<div class="radius">
								<span class="arrow"><img src="assets/saas-images/bg-arrow.png" alt="" /></span>
								<p>Donec quis elementum eros. Nam nibh felis, venenatis ut vestibulum a, blandit at arcu. Etiam velit dolor, condimentum at imperdiet ut.</p>
								<p class="a-right"><em>Lyle Hornblower, Roanoke Colony, VA</em></p>
							</div>
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<!-- div end testimonials -->
		<!-- div start free trial -->
		<div class="free-trial radius">
			<h3>Free 30-Day Trial</h3>
			<a class="radius button" href="sign-up.html">Sign Up Now!</a>
			<p>Takes 4 seconds!</p>
		</div>
		<!-- div end free trial -->
	</div>
	<!-- div end center -->