<% provide(:page_type, 'page plans') %>
	<div class="center">				
		<div class="features">
			<ul>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_clock.png" alt="Feature Set 1" />
				</div>
				<div class="content">
					<h3>Use Immediately</h3>
					<p>As soon as you sign up, you can use the software within seconds.  There is nothing more to download if you are already using the trial version.</p>
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_wallet.png" alt="Donec convallis" />
				</div>
				<div class="content">
					<h3>Pay with Credit Card</h3>
					<p>We accept Visa, Mastercard, American Express and Discover.  No international payments are accepted (yet!).</p>
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_up.png" alt="Sed pharetra" />
				</div>
				<div class="content">
					<h3>Updates Includes</h3>
					<p>Whenever new features are released to search word creator, you get immediate access as a paid member.</p>
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_shield.png" alt="Nam adipiscing" />
				</div>
				<div class="content">
					<h3>Money Back Guarantee</h3>
					<p>Change your mind any time within 30 days and we will give you a refund of everything you've paid so far, without hassling you.</p>
				</div>
			</li>
			</ul>
		</div>
	</div>