<% provide(:page_type, 'page plans') %>
	<div class="center">				
		<div class="features">
			<h2>Features Included with all Plans</h2>
			<ul>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_calendar.png" alt="Feature Set 1" />
				</div>
				<div class="content">
					<h3>Feature Set 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum. Aliquam sed libero tortor. Duis volutpat nisl ac ante pulvinar non lobortis urna adipiscing. In hac habitasse platea dictumst.</p>
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_basket.png" alt="Donec convallis" />
				</div>
				<div class="content">
					<h3>Donec convallis</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum. Aliquam sed libero tortor. Duis volutpat nisl ac ante pulvinar non lobortis urna adipiscing. In hac habitasse platea dictumst.</p>
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_clock.png" alt="Sed pharetra" />
				</div>
				<div class="content">
					<h3>Sed pharetra</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum. Aliquam sed libero tortor. Duis volutpat nisl ac ante pulvinar non lobortis urna adipiscing. In hac habitasse platea dictumst.</p>
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="assets/saas-images/i_buoy.png" alt="Nam adipiscing" />
				</div>
				<div class="content">
					<h3>Nam adipiscing</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, quam sed ultrices gravida, felis odio iaculis ipsum. Aliquam sed libero tortor. Duis volutpat nisl ac ante pulvinar non lobortis urna adipiscing. In hac habitasse platea dictumst.</p>
				</div>
			</li>
			</ul>
		</div>
	</div>