<% provide(:title, "#{@category.link_to_category} search word puzzles with Search Word Creator") %>
<% provide(:page_type, 'page') %>
<% content_for :mixpanel_tracking do %>
	<script type="text/javascript">
  	  $(document).ready( function(){
        mixpanel.track("Seeing Category Page", { 'category': "<%= @category.capitalize %>"});
      });
  </script>
<% end %>
<% content_for :sidebar do %>
	<div id="sidebar" class="col-side left">
		<div class="widget">
			<h2>Get Started!</h2>
			<ul>
				<li>
					<p>
						Start using Search Word Creator to Create your own <strong>printable search word puzzles.</strong>
					</p>
				</li>
			</ul>
		</div>
	</div>
<% end %>

<h1><%= @category.link_to_category.titlecase %> Search Word Puzzles</h1>
<p>Below are the <strong>word search puzzles</strong> that are available for <%= @category.link_to_category.titlecase %>.  Click on any puzzle to get started <strong>creating a custom, printable search word puzzle</strong> from this word list within 15 seconds! </p>
<br/>
<div class="promo-row">
<% @puzzles.each_with_index do |puzzle, index| %>
	<% if index % 3 == 0 && index != 0 %>
	</div>
	<div class="promo-row">
	<% end %>
	<%= link_to puzzle.name, promo_puzzle_path(@category, puzzle.name.category_to_link ) %>
<% end %>
</div>