<% provide(:title, "Free printable search word puzzles with Search Word Creator") %>
<% provide(:page_type, 'page') %>
<% content_for :mixpanel_tracking do %>
	<script type="text/javascript">
  	  $(document).ready( function(){
        mixpanel.track("Seeing Word Search Puzzle List"});
      });
  </script>
<% end %>
<% content_for :sidebar do %>
	<div id="sidebar" class="col-side left">
		<div class="widget">
			<h2>Get Started!</h2>
			<ul>
				<li>
					<p>
						Start using Search Word Creator to Create your own <strong>printable search word puzzles.</strong>
					</p>
				</li>
			</ul>
		</div>
	</div>
<% end %>

<h1>Free Printable Search Word Puzzles</h1>
<br/>
<p><strong>Search Word Creator</strong> lets you create and customize <strong>printable word search puzzles</strong>.  Below are the categories of puzzles that we created for you.</p>
<br/>
<p>Click on the category below to see the available pre-made puzzles, ready for printing and using within seconds!</p>
<br/>

<div class="promo-row">
<% @puzzle_categories.each_with_index do |category, index| %>
	<% if index % 3 == 0 && index != 0 %>
	</div>
	<div class="promo-row">
	<% end %>
		<div class="promo-entry category promo-btn">
			<%= link_to category[:name], category_path(category[:name].category_to_link) %>
			<%= "#{pluralize(category[:count], 'puzzle')}" %>
		</div>
<% end %>
</div>