<% provide(:title, 'Create custom search word puzzles with Search Word Creator') %>
<% provide(:page_type, 'page') %>
<% content_for :mixpanel_tracking do %>
	<script type="text/javascript">
			$(document).ready( function(){
        mixpanel.track("Seeing Print Puzzles Page");
        mixpanel.track_links(".download-puzzles-link", "Clicked Link to Download Puzzles", 
        	function(ele) { 
        		mixpanel.people.increment("Downloaded Puzzle PDFs")
        		return { }
        	}
        );
      });
   </script>
<% end %>
<% content_for :sidebar do %>
<div id="sidebar" class="col-side left">
	<div class="widget">
		<h2>Step 3 of 3</h2>
		<ul>
			<li>
				<p>
					You're almost done!
				</p>
				<br/>
				<p>
					After you download your puzzles, you can open them and print them out.
				</p>
				<br/>
				<p>
					99% of computers can open these files immediately.  If you can't, you may need to download Adobe Reader.  You can <a href="http://get.adobe.com/reader/">get it here</a>.
				</p>
			</li>
		</ul>
	</div>
</div>
<% end %>

<div class="post">
	<div class="entry">
		<h1>Ready to download!</h1>
		<br/>
		<%= link_to "Click here", download_path(@file_name), class: "download-puzzles-link" %> to download your puzzles!
	</div>
</div>