<% provide(:title, 'Purchase Search Word Creator') %>
<h1>Get Instant Access To Search Word Creator</h1>
<br/>
<% id = "purchase-form" if @stripe_card_token.nil? %>
<%= form_for @user, url: url_for(:controller => 'subscriptions', :action => 'create'), html: { id: "#{id}" } do |f|%>
  <%= render 'fields', f: f %>
	<div id="stripe-error">
		<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	</div>
  <%= f.submit "Confirm Purchase", class: "btn btn-large btn-primary" %>
<% end %>