/* mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* debug */

.debug_dump {
  clear: both;
	background: #CCC;
	float: left;
	width: 100%;
	margin-top: 45px;
	border: 1px double black;
	padding: 10px 5px;
	color: black;
  @include box_sizing;
}

/* Category entries for promo pages */
.promo-row a, .promo-print-btn, .download-puzzles-link {
	width: 217px;
	margin: 10px 20px 10px 0px;
	padding: 5px 0px;
	float: left;
	display: block;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 0 1px 0 #395c09;
	line-height: 22px;
	background: #7cc319 url(../assets/saas-images/bg-button.gif) repeat-x left bottom;
	color: #fff;
	text-align: center;
	border: solid 1px #6aad0f;
	box-shadow: 1px 2px 3px #548e06;
	-moz-box-shadow: 1px 2px 2px #548e06;
	-webkit-box-shadow: 1px 2px 2px #548e06;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.promo-row a:last-child{
	margin-right: 0px;
}

.promo-row.category {
	height: 44px;
}

.promo-row .puzzle-count {
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
}

.promo-row {
	float: left;
}

.promo-row a:hover, .promo-print-btn:hover, .download-puzzles-link:hover {
	color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  border:1px solid rgba(0,0,255, 0.8);
}

.promo-text {
	float:left;
	display: inline;
	width: 435px;
}

.promo-text .promo-print-btn {
	float:none;
	width: 40%;
	padding: 10px;
	margin: 30px auto;
}

.promo-img {
	float: left;
	height: 247px;
	width: 231px;
	margin: 0 20px 0 0;
	padding: 5px;
	-moz-box-shadow: 1px 3px 4px #000;
	-webkit-box-shadow: 1px 3px 4px #000;
	box-shadow: 1px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	background: white;
	border: solid 1px #6aad0f;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Customizing Form */

form.new_word_search_puzzle ul li,
form#configure-puzzle ul li {
	margin: 0px 0px 10px 0px;
}

form.new_word_search_puzzle li input, 
form.new_word_search_puzzle li textarea,
form#configure-puzzle li input,
form#configure-puzzle li textarea {
	position: relative;
	width: 190px;
	z-index:0;
}

form.new_word_search_puzzle li label,
form#configure-puzzle li label {
	display: block;
	position: relative;
	top: 5px;
	float: none;
	padding: 0;
	text-align: center;
	font-weight: bold;
	width: 190px;
	padding: 2px 5px 3px 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #bce8f1;
  -webkit-border-radius: 4px;
   -khtml-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #d9edf7;
  color: #3a87ad;
}

form#configure-puzzle,
form.new_word_search_puzzle {
	float: left;
	width: 202px;
	margin: 0 30px 0 0;
}

form#configure-puzzle .btn,
form.new_word_search_puzzle .btn {
	width: 200px;
	margin: 10px auto;
}


.added-words {
	float:left;
}

.sample-image {
	float: left;
	height: 480px;
	width: 450px;
	margin: 0 0px 0 0;
	padding: 5px;
	-moz-box-shadow: 1px 3px 4px #000;
	-webkit-box-shadow: 1px 3px 4px black;
	box-shadow: 1px 3px 4px black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	background: white;
	border: solid 1px #6AAD0F;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity: .5;
}

.download-puzzles-link {
	width: 100%;
	padding: 40px 0px;
	font-size: 42px;
	float: none;
}