<div class="footer">
	<div>
		<div class="center">
			<p>
		    Copyright © 2012 Christopher Salvato.
			</p>
			<%= debug(["PARAMS", params]) if Rails.env.development? %>
			<%= debug(["SESSION", session]) if Rails.env.development? %>
			<%= debug([request.remote_ip.inspect, request.request_method.inspect]) if Rails.env.development? %> 
			<%= debug([current_user, current_user.subscription]) if Rails.env.development? && signed_in? %>
		</div>
	</div>
</div>
<!--div.footer end -->