<div class="grid col2">
	<div>
		<section>
			<header>
				<hgroup class="top">
					<h1>Lite</h1>
				</hgroup>
				<hgroup class="price">
					<h2><span class="style1">$</span><span class="style2">2.99</span><span class="style3">One-Time</span></h2>
				</hgroup>
			</header>
			<footer>
				<ul>
					<li>
						<strong>15 </strong>Printed Puzzles		
						<div class="tooltip">
							<div>
								<h3>Printed Puzzles</h3>
								<p>
									Every user gets an allowance of puzzles that they can print out.
								</p>
							</div>
						</div>
					</li>
					<li>
						Start Printing Puzzles Immediately! 
					</li>
					<li class="last"><%= link_to "Get Started", purchase_path(plan_id: "swc_lite"), class: "purchase-btn btn" %></li>
				</ul>
			</footer>
		</section>
		<section class="on">
			<header>
				<hgroup class="top">
					<h1>Teacher</h1>
				</hgroup>
				<hgroup class="price">
					<label>BEST VALUE</label>
					<h2><span class="style1">$</span><span class="style2">29.95</span><span class="style3">Yearly</span></h2>
				</hgroup>
			</header>
			<footer>
				<ul>
					<li>
						<strong>1000 </strong> Printed Puzzles per Year
						<div class="tooltip">
							<div>
								<h3>Printed Puzzles</h3>
								<p>
									Every user gets an allowance of puzzles that they can print out.
								</p>
							</div>
						</div>
					</li>
					<li>
						Start Printing Puzzles Immediately!
					</li>
					<li class="last"><%= link_to "Get Started", purchase_path(plan_id: "swc_teacher"), class: "purchase-btn btn" %></li>
				</ul>
			</footer>
		</section>
	</div>	
</div>	
	<h2 class="purchase-text">
		Start saving time by making puzzles in seconds, for a fraction of the price of activity books.  Easily make high-quality, custom, printable puzzles.
	</h2>
